autopep8
coverage
cython
jupyter_sphinx
jyquickhelper
matplotlib
numpy
pandas
pycodestyle
pylint
pyquickhelper
scipy
sphinx
sphinxcontrib.imagesvg
wheel

# matplotlib
cycler
kiwisolver
pillow
pyparsing
python-dateutil
six

# numba
llvmlite
numba

# cartopy
cartopy
pyproj
pyshp
shapely
